<!DOCTYPE html>
<html lang="es">
<!-- Head -->
    <%- include('partials/head') %>
<!-- /Head -->
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

        <div class="slider">
			<ul>
                <li>
                    <img src="/images/oferta.png">
                </li>
                <li>
                    <img src="/images/oferta2.png">
                </li>
            </ul>
        </div> 
    <main>
     <div class="seccion-productos">
                <h4 class="caja-title">Lo mas vendido</h4>
            <div class="main-article">
                <% products.forEach(product=>{ %>
                        <section class="productos">
                            <article class="producto">
                                <div class="caja-img-productos">
                                    <img src="/images/products/<%=product.img %>" alt="">
                                </div>
                                <div class="detalles-productos">
                                    <h4><%= product.name %></h4>
                                    <h3 class="price">$<%= product.price %></h3>
                                    <a class="boton" href="/products/productsDetail/<%=product.id %>">Ver detalle</a>
                                </div>
                        </section>
                <% }) %>
            </div>
    </div>
</main>
    <!-- Footer -->
	<%- include('partials/footer') %>
	<!-- /Fototer -->
</body>
</html>


