<!DOCTYPE html>
<html lang="es">
<!-- Head -->
    <%- include('partials/head') %>
<!-- /Head -->
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

        <div class="slider">
			<ul>
                <li>
                    <img src="/images/oferta.png">
                </li>
                <li>
                    <img src="/images/oferta2.png">
                </li>
            </ul>
        </div> 
    <main>
     <div class="seccion-productos">
                <h4 class="caja-title">Lo mas vendido</h4>
            <div class="main-article">
                <% for (let i = 0; i < products.length; i++) { %>
                    <% if (products[i].name.includes('Zapatilla')) { %>
                    <section class="productos">
                        <article class="producto">
                            <div class="caja-img-productos">
                                <img src="/images/products/<%= products[i].img %>" alt="">
                            </div>
                            <div class="detalles-productos">
                                <h4><%= products[i].name %></h4>
                                <h3 class="price">$<%= products[i].price %></h3>
                                <a class="boton" href="/products/productsDetail/<%= products[i].id %>">Ver detalle</a>
                            </div>
                        </article>
                    </section>
                    <% } %>
                <% } %>
            </div>

            <h4 class="caja-title">Lo nuevo</h4>
            <div class="main-article">
                <% for (let i = 0; i < products.length; i++) { %>
                    <% if (!products[i].name.includes('Zapatilla')) { %>
                    <section class="productos">
                        <article class="producto">
                            <div class="caja-img-productos">
                                <img src="/images/products/<%= products[i].img %>" alt="">
                            </div>
                            <div class="detalles-productos">
                                <h4><%= products[i].name %></h4>
                                <h3 class="price">$<%= products[i].price %></h3>
                                <a class="boton" href="/products/productsDetail/<%= products[i].id %>">Ver detalle</a>
                            </div>
                        </article>
                    </section>
                    <% } %>
                <% } %>
            </div>
    </div>
</main>
    <!-- Footer -->
	<%- include('partials/footer') %>
	<!-- /Fototer -->
</body>
</html>


