<!DOCTYPE html>
<html lang="es">
<!-- Head -->
    <%- include('partials/head') %>
<!-- /Head -->
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

        <div class="slider">
			<ul>
                <li>
                    <img src="/images/oferta.png">
                </li>
                <li>
                    <img src="/images/oferta2.png">
                </li>
            </ul>
        </div> 
    <main>
        <div class="main-products">
            <div class="caja-title">
                <h4 class="title">Lo mas vendido</h4>
            </div>
            <div class="main-article">
                <% for( let i = 0 ;i < products.length; i++){%>
                        <section class="productos">
                            <article class="producto">
                                <img src="/images/products/<%=products[i].image %>" alt="">
                                <div class="detalles-productos">
                                    <h6><%= products[i].product %></h6>
                                    <h5 class="price">$<%= products[i].price %></h5>
                                    <a class="boton" href="/products/detail/<%=  products[i].id %>">Ver detalle</a>
                                </div>
                        </section>
                        <% if(i==3) break;%>
                <% } %>
            </div>
        </div>
        <div class="main-products">
            <div class="caja-title">
                <h4 class="title">Camisetas de Futbol</h4>
            </div>
            <div class="main-article">
                <% for( let i = 4 ;i < products.length; i++){%>
                    <section class="productos">
                        <article class="producto">
                            <img src="/images/products/<%=products[i].image %>" alt="">
                            <div class="detalles-productos">
                                <h6><%= products[i].product %></h6>
                                <h5 class="price">$<%= products[i].price %></h5>
                                <a class="boton" href="/products/detail/<%=  products[i].id %>">Ver detalle</a>
                            </div>
                    </section>
                <% } %>
            </div>
        </div>
</main>
    <!-- Footer -->
	<%- include('partials/footer') %>
	<!-- /Fototer -->
</body>
</html>


