<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="/css/listadoProd.css">
<!-- Head -->
<%- include('partials/head') %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
            <!-- /Header -->
            <main>
                <div class="caja">
                <h1 class="titulo"> Listado de Productos</h1>
                
                <% products.forEach(function(product) { %>
                    <section class="contenedorProducto">
                        <article class="cajaProducto">
                            <div class="imgProducto">
                                <img src="/images/products/<%= product.img %>" alt="">
                            </div>
                            <div class="cajaDetalles">
                                <h4 class="nombreProducto">
                                    <%= product.name %>
                                </h4>
                                <h3 class="precioProducto">$<%= product.price %>
                                </h3>
                                <div class="cajaBotones"> 
                                 <form action="/products/editar/<%=product.id%>">
                                    <a><button type="submit" class="botonEditar">EDITAR</button></a>
                                 </form>                      
                                <form action="/products/delete/<%=product.id%>" method="post">
                                    <a><button type="submit" class="botonEliminar">ELIMINAR</button></a> 
                                </form>
                                <form action="/products/create">
                                    <a><button type="submit"><i class="fas fa-solid fa-plus" id="botonAgregar"></i></button></a>
                                </form>
                            </div>
                            </div>
                        </article>
                    </section>
                <% }); %>
            </div>
            </main>
            <!-- Footer -->
            <%- include('partials/footer') %>
                <!-- /Fototer -->
    </body>

</html>