<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/profile.css">
    <title>login</title>
    <%-include('partials/head')%>
</head>
    <body class="bodyLogin">
        <!-- Header -->
        <%- include('partials/header') %>
        <!-- /Header -->
            <div class="profile-card">
                
                <h2>HOLA <%= user.nombre %> </h2>
                <img src="/images/imagenesDeUsuario/<%= user.avatar %> " alt="Imagen de perfil">
                <p>Email: <%= user.email %></p>
                <p>Pais: <%= user.country %></p>
            </div>
            <!-- Footer -->
	        <%- include('partials/footer') %>
	        <!-- /Fototer -->
    </body>
</html>